@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}
.bg-primary{
  background-color: rgb(91, 24, 236);
}
.mobile-nav{
@apply fixed top-12 bg-gray-600 w-full  left-0 
}

.mobile-nav li{
  @apply w-full h-full  text-center border-b-2
}
.bg-secondary{
  background-color: #2b2d77;
}



@media  screen and (max-width:600px) {
  .txt{
color: black;
animation-name: temp;
animation-duration: 5s;
  }
  @keyframes temp {
    to{color:black}
  }
  
}